name: cleanup cache

on:
  schedule:
    - cron: "0 11 * * *" # runs every day at 11:00 UTC
  pull_request:
    types:
      - closed

jobs:
  cleanup:
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: cleanup caches older than 5 days
        uses: luxass/purge-action-cache@8203fbc1edd23369505f170a1d54074195a59c58 # v0.3.0
        with:
          max-age: 432000
